{% extends "base.html.twig" %}

{% block body %}







<h1 class="text-center">Mes commandes</h1>
<br>

<table class="table">
<thead>
    <tr>
        <th>Produit</th>
        <th>Date</th>
        <th>Quantite</th>
        <th>Prix total</th>
       
    </tr>
</thead>
<tbody>
{% for item in commandes %}
    <tr>
         <td>{{ item.IdProduit }}</td> 
       
        <td>{{ item.createdAt|date('d/m/Y à H:i:s')}}</td>
        <td>{{ item.quantite }}</td>
         <td>{{ item.montant }}€</td> 
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}